extends template/default

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var page = 'Home'

block content
	//You section or content
	//include ../blocks/modules/modulename/modulename