@mixin font($family, $filename: $family, $weight: normal, $style: normal, $display: swap) {
    @font-face {
        font-family: $family;
        src: local($family),
            local($filename),
            url('../fonts/' + $filename + '.woff2') format('woff2'),
            url('../fonts/' + $filename + '.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}